:root{
  background-color: white;
  color: white;
  font-family: cursive;
  --purple: #6b5b95;
  --pink: #d64161;
  --yellow: #feb236;
  --orange: #ff7b25;

}

.nav{
  background-color: var(--pink);
  
}

.nav-title{
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  padding: 3px 15px;
  border-color: black;
  color: white;
  font-style: italic;
}
.nav-list{
  display: flex;
  list-style-type: none;
}
.nav-item{
  padding: 5px;
  margin-left: 20px;
  margin-top: 15px;
  font-weight: bold;

}
.nav-item a{
  text-decoration: none;
  color: black;
  padding: 10px;

}
.nav-item a:hover{
  padding: 10px;
  color: white;
  background-color: black;

}
.btn btn-warning {
  color: black;
}

.btn btn-add {
  color: white;
  background-color: black;
}

.customers-heading {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 50px;
  border-style: dotted;
  border-color: white;
  border-width: 1px;
}
.customers-container {
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  border-style: solid;
  border-width: 80px 40px 40px 80px;
  border-radius: 15px 0 15px 15px;
  border-color: var(--pink);
  background-color: var(--pink);
}
.customer-list {
  padding: 5px;
  border-style: dotted;
  border-color: white;
  border-width: 1px
}
.customer-list li {
  display: inline;
  list-style-type: none;
  padding: 10px;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.customer{
  padding: 5px;
  margin-bottom: 10px;
  width: 50%;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
